/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/sofia-pro'); */

/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        @apply font-sans relative cursor-pointer after:absolute after:-bottom-0.5 after:left-0 after:right-0 after:m-auto after:w-0 after:content-['.'] after:text-transparent after:bg-ecru after:h-0.5 after:transition-all after:duration-500 hover:after:w-full
    }
    .nav-link.active {
        @apply after:absolute after:-bottom-0.5 after:left-0 after:right-0 after:m-auto after:content-['.'] after:text-transparent after:bg-ecru after:h-0.5 after:w-full
    }
    .option {
      @apply font-light tracking-widest cursor-pointer
    }
    .select {
      @apply w-52 h-[42px] border py-2 px-3 font-light tracking-wider rounded shadow-sm outline-none cursor-pointer focus:border-ecru md:h-8 md:py-0 md:text-sm sm:py-1
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 9px;
    height: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #d1d5db;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #b99768;
}

/* Date Range Picker */

#your_unique_start_date_id, 
#your_unique_end_date_id {
    border: 1px solid rgb(229 231 235);
    padding: 8px 12px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    font-family: 'Sofia Pro', 'sans-serif';
}


#your_unique_start_date_id:focus,
 #your_unique_end_date_id:focus {
    border: 1px solid #CFC291;
}

.DateRangePicker {
    position: relative;
    display: inline !important;
}
  
.DateRangePicker div:not(.DateRangePicker_picker) {
    background: transparent !important;
}
  
.DateRangePickerInput {
    position: relative;
    display: flex !important;
    align-items: center;
    gap: 20px;
}

.DateRangePickerInput__withBorder {
    border-radius: 5px !important;
    border: none !important;
}

.DateInput {
    width: 208px !important;
}

@media screen and (max-width: 1535px) {
    .DateInput {
        width: 150px !important;
    }
}

@media screen and (max-width: 1279px) {
    .DateInput {
        width: 140px !important;
    }
    .DateRangePickerInput {
        gap: 10px
    }
}

@media screen and (max-width: 1023px) {
    .DateInput {
        width: 180px !important;
    }
    .DateRangePickerInput {
        gap: 15px
    }
}

@media screen and (max-width: 767px) {
    .DateInput {
        width: 150px !important;
    }
    .DateRangePickerInput {
        gap: 10px
    }
    #your_unique_start_date_id, 
    #your_unique_end_date_id {
        padding: 6px 12px;
    }
}

@media screen and (max-width: 639px) {
    .DateInput {
        width: 120px !important;
    }
    .DateRangePickerInput {
        gap: 15px
    }
    #your_unique_start_date_id, 
    #your_unique_end_date_id {
        padding: 4px 8px;
        font-size: 15px;
    }
}

.DateRangePicker_picker {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.CalendarDay__selected_span {
    background: #CFC291 !important;
    color: #1C1F15 !important; 
    border: 1px double #1C1F15 !important; 
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span:active {
    background: #EDEAE6 !important;
    border: 1px double #1C1F15 !important;
    color: #1C1F15 !important;
}

.CalendarDay__selected {
    background: rgba(48, 61, 110, .7) !important;
    border: 1px double #1C1F15 !important; 
}

.CalendarDay__selected:hover {
    background: #303d6e !important;
}
